section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.header {
    display: flex;
    font-size: 24px;
    color:#F9FAF8;
    background-color: #1F2937;
    padding: 4px 0px;
    justify-content:space-around ;
    align-items:center ;
    
}
/* .header-logo{
    margin-right: 100px;} */

    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        gap: 24px;
    }
    
    a {
        text-decoration: none;
        color: #E5E7E8;
        font-size: 18px;
        padding: 24px;
        transition: background-color 1s 
    }
    a:hover{
        background-color:#3882f6;
        
    }
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
    padding: 24px;
}
.hero-main {
    color: #F9FAF8;
    font-size: 48px;
    font-weight:bolder;
}
.hero-secondary {
    color: #E5E7E8;
    font-size: 18PX;
}

.sign-up {
    display: flex;
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 8px 24px;
    border-radius: .4rem;
    text-align: center;
    font-weight: bold;
}
.top{
    border-style: none;
    margin-top: 10px;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;

}
img {
    max-width: 300px;
}
.rand-info{
    display: flex;
    padding: 16px ;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    color: black;
    margin-bottom: 8px;
}
.info {
    display: flex;
    
    justify-content:center;
    gap: 50px;
    margin-bottom: 24px;
    align-items: center;
}

.img {
    display: flex;
    width: 150px;
    height: 150px;
    border-color: #3882f6;
    border-width:2px;
   border-style: solid;
   border-radius: 8px;
}


.item{
    max-width: 150px;
    text-align:center;
    color: grey;
    font-size: 18px;
    
}

.testimonials {
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    background-color: #E5E7E8;
    justify-content: center;
    /* align-content: center; */
    padding: 48px ;
    height: 300px;

}
.p { 
    display: flex;
    align-self: center;
    align-items: center;
    max-width: 50%;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight:lighter;
    overflow:auto;
}

.quote{
    display: flex;
    color: #1F2937;
align-self:center;
}

.sign-up-container {
display: flex;
justify-content: center;
/* flex-direction: column; */
align-items: center;
padding: 50px;
}

.blue-container {
    display: flex;
    flex: 0.8;
    justify-content: space-around;
    gap: 48px;
    background-color: #3882f6;
    padding: 36px 60px;
    border-radius: .4rem;

}

.call-to-action {
    font-size: 24px;
    color: #F9FAF8;
}
.sign-up-text {
    font-size: 16px;
}
.sign-up.bottom {
    border-color: #F9FAF8;
    border-width: 0.3rem;
}

footer{
    justify-content: center;
    display: flex;
margin-top: 0;
margin-bottom: auto;
background-color: #1F2937;
}
.footer {
    display: flex;
    align-items: center;
    padding: 24px;
}

body{
    display: flex;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    color:#F9FAF8;
    font-size: 24px;
    margin: 0;
    border: 0;
}

